.title {
	font-family: 'Lobster Two';
    position: absolute;
    top: 40px;
    left: 300px;
    font-size: 100px; 
    font-weight: bold;
    color: rgb(175,43,9); 
    min-width: 1000px;

}

.text {
	font-family: 'Roboto', sans-serif;

}

.lights {
	position: absolute;
}

.xmas {
	position: absolute;
	width: 400px;
	height: 200px; 
	top: 320px; 
	left: 100px; 
}



.xmastxt {
	position: absolute;
	font-family: 'Roboto';
	font-size: 17px; 
	top: 590px;
	left: 160px;
}

img {
	width: 400px;
	height: 250px; 
}

.basic {
	position: absolute;
	width: 400px;
	height: 200px; 
	top: 320px; 
	left: 550px; 
}



.basictxt {
	position: absolute;
	font-family: 'Roboto';
	font-size: 17px; 
	top: 590px;
	left: 630px;
	min-width: 1000px;
}

.bf{
	position: absolute;
	width: 400px;
	height: 200px; 
	top: 320px; 
	left: 1000px; 
}



.bftxt {
	position: absolute;
	font-family: 'Roboto';
	font-size: 17px; 
	top: 590px;
	left: 1060px;
	min-width: 1000px;
}

.work{
	position: absolute;
	width: 400px;
	height: 200px; 
	top: 670px; 
	left: 100px; 
}



.worktxt {
	position: absolute;
	font-family: 'Roboto';
	font-size: 17px; 
	top: 930px;
	left: 140px;
	max-width: 310px;
	bottom: 100px;
	padding-bottom: 100px;
	text-align: center;

}

a {
	color: rgb(175,43,9); 
}

.college {
	position: absolute;
	width: 400px;
	height: 200px; 
	top: 670px; 
	left: 550px; 
}



.collegetxt {
	position: absolute;
	font-family: 'Roboto';
	font-size: 17px; 
	top: 940px;
	left: 630px;
	min-width: 1000px;
}

.mom{
	position: absolute;
	width: 400px;
	height: 200px; 
	top: 670px; 
	left: 1000px; 
}


.momtxt {
	position: absolute;
	font-family: 'Roboto';
	font-size: 17px; 
	top: 940px;
	left: 1015px;
	min-width: 1000px;
}