body{
background-color: rgb(150, 160, 180);
}


.title {
position: absolute;
font-family: helvetica, sans-serif; 
font-size: 50px; 
font-weight: bold;
top: 490px;
left: 10px;
color: white;


}

.index{
	width: 300px;
	height: 450px;
	padding-left: 40px;
}

.cores{
	width: 400px;
}

.wands{
	width: 400px;
}

.ollivander{
	width: 300px;
	padding-left: 40px;
}
.titles {
font-family: helvetica, sans-serif; 
font-size: 40px; 
font-weight: bold;
padding-left: 20px;
max-width: 200px;
min-width: 100px;
color: white;

}

.paragraph{
font-family: helvetica, sans-serif; 
font-size: 12px; 
padding-top: 20px;
padding-left: 20px;
max-width: 330px;
line-height: 25px;

}

.types {
font-family: helvetica, sans-serif; 
font-size: 14px; 
font-weight: bold;
padding-left: 20px;
padding-top: 20px;
color: white;
}


.wand{
	position: absolute;
	top: 10px;
	left: 200px;
	width: 94px;
	height: 136px;
}

.texture2{
	width: 100vw;
	height: 10vh;
	background-image: url(texture.png);
	background-size: cover;
	background-position: center center; 	
}

.tabs1 {
	position: absolute;
	font-size: 12px;
	font-family: helvetica, sans-serif;
	top: 600px;
	left: 10px;
	line-height: 50px;
	color: rgb(100,100,100);

}

.tabs2 {
	position: absolute;
	font-size: 12px;
	font-family: helvetica, sans-serif;
	left: 128px;
	top: 600px;
	line-height: 50px;

}

.tabs3 {
	position: absolute;
	font-size: 12px;
	font-family: helvetica, sans-serif;
	left: 210px;
	top: 600px;
	line-height: 50px;
	color: rgb(100,100,100);

}

.tabs4 {
	position: absolute;
	font-size: 12px;
	font-family: helvetica, sans-serif;
	left: 300px;
	top: 600px;
	line-height: 50px;
	color: rgb(100,100,100);
	

}

.quotes{
	font size: 20px;
	font-family: helvetica;
	font-weight: bold;
	line-height: 30px;
	padding-left: 40px;
	max-width: 280px;
}

.back{
	font size: 20px;
	font-family: helvetica;
	font-weight: bold;
	padding-left: 20px;
	color: white;
}

.pics{
	width: 319.25px;
	height: 125px;
	padding-left: 20px;
	padding-top: 10px;

}



@media(min-width: 550px) {
	body {
		width: 500px;
		margin-left: auto;
		margin-right: auto;

	}

.texture{
	width: 100vw;
	height: 100vh;
	background-image: url(texture.png);
	background-size: cover;
 	
}
}