body{
background-color: rgb(150, 160, 180);
}


.title {
position: absolute;
font-family: helvetica, sans-serif; 
font-size: 150px; 
font-weight: bold;
top: 50px;
left: 100px;
max-width: 200px;
color: white;

}


.titles {
font-family: helvetica, sans-serif; 
font-size: 105px; 
font-weight: bold;
padding-top: 50px;
padding-left: 100px;
max-width: 200px;
color: white;
}

.paragraph{
font-family: helvetica, sans-serif; 
font-size: 14px; 
padding-top: 20px;
padding-left: 120px;
max-width: 590px;
line-height: 25px;

}

.types {
font-family: helvetica, sans-serif; 
font-size: 25px; 
font-weight: bold;
padding-left: 100px;
padding-top: 20px;
color: white;
}

.mark{
position: absolute;
left: 900px;
opacity: 0.5;
}

.tabs1 {
	position: absolute;
	font-size: 20px;
	font-family: helvetica, sans-serif;
	top: 600px;
	left: 645px;
	line-height: 50px;
	color: rgb(100,100,100);

}

.tabs2 {
	position: absolute;
	font-size: 20px;
	font-family: helvetica, sans-serif;
	left: 870px;
	top: 600px;
	line-height: 50px;

}

.tabs3 {
	position: absolute;
	font-size: 20px;
	font-family: helvetica, sans-serif;
	left: 300px;
	top: 600px;
	line-height: 50px;
	color: rgb(100,100,100);
	

}

.tabs4 {
	position: absolute;
	font-size: 20px;
	font-family: helvetica, sans-serif;
	left: 100px;
	top: 600px;
	line-height: 50px;
	color: rgb(100,100,100);
	

}